
h1 {
  font-family: monospace;
  font-size: 35px;
  background-color: dodgerblue;
  border-style: double;
  padding: 10px;
  margin:5px;
}

.contactinfo {
  color: black;
  font-size: 12px;
  font-family: courier new;
}

.profile, ul {
  color: black;
  font-size: 12px;
  font-family: courier new;
  margin: 5px;
}

h4 {
  font-size: 18px;
  font-family: monospace;
  margin: 5px;
}

h5 {
  font-size: 14px;
  font-family: monospace;
  color: dodgerblue;
  margin: 5px
}

h6 {
  font-size: 11px;
  font-family: monospace;
  padding-left: 10px;
  margin: 5px
}
.interests {
  color: black;
  font-size: 12px;
  font-family: courier new;
  padding-left: 20px;
  margin: 5px;
}

