h1 {
  font-family: "tahoma", "courier new", monospace;
  font-size: 35px;
  background-color: dodgerblue;
  border-style: double;
  padding-left: 5px;
  margin: 7px;
  text-align: center;
}

.contactinfo, li {
  color: black;
  font-size: 12px;
  font-family: courier new;
}

h4 {
  font-size: 18px;
  font-family: "tahoma", "courier new", monospace;
  margin: 5px;
}

h5 {
  font-size: 14px;
  font-family: "tahoma", "courier new", monospace;
  color: dodgerblue;
  margin: 5px;
}

h6 {
  font-size: 11px;
  font-family: "tahoma", "courier new", monospace;
  padding-left: 10px;
  margin: 5px;
}

p {
  color: black;
  font-size: 12px;
  font-family: "courier new", "lucida console", monospace;
  padding-left: 20px;
  margin: 5px;
}

